@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification/>
<style>
    .background{
        background-image: url("../img/back.jpg");;
        background-size: cover ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }

   
</style>

<div class="background">
    <a href="/">
<RadzenButton Text="Volver" Style="margin:70px;margin-bottom:10px !important"></RadzenButton>
    </a>
    <ErrorBoundary @ref="ErrorBoundary" >
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            @{ OnError(context); }
        </ErrorContent>
    </ErrorBoundary>
</div>