@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification/>

<div>
    <RadzenButton Text="Volver" Click="Volver" Style="margin:70px"></RadzenButton>
    <ErrorBoundary @ref="ErrorBoundary" >
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            @{ OnError(context); }
        </ErrorContent>
    </ErrorBoundary>
</div>