@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<RadzenLayout id="@(@NavigationManager.Uri.Equals(@NavigationManager.BaseUri) ? "Home" : Path.GetFileName(NavigationManager.Uri))">

    <RadzenHeader>
        <div class="headerDiv">
            <RadzenImage Path="../img/logo.png" class="logo" @onclick="@(_ => NavigationManager.NavigateTo("./"))" />
            <RadzenMenu>
                <RadzenMenuItem Path="/Terapias">
                    <Template>

                        <span class="rz-navigation-item-text">TERAPIAS Y TRATAMIENTOS</span>
                    </Template>
                </RadzenMenuItem>
                <RadzenMenuItem Path="/Equipo">
                    <Template>

                        <span class="rz-navigation-item-text">EQUIPO</span>
                    </Template>
                </RadzenMenuItem>
                <RadzenMenuItem Path="/QuienesSomos">
                    <Template>

                        <span class="rz-navigation-item-text">QUIENES SOMOS</span>
                    </Template>
                </RadzenMenuItem>
                
                <RadzenMenuItem Path="/Contacto">
                    <Template>
                       
                        <span class="rz-navigation-item-text">CONTACTO</span>
                    </Template>
                </RadzenMenuItem>
            </RadzenMenu>
            <RadzenMenu class="accountMenu">
                <AuthorizeView>
                    <Authorized>
                        <RadzenMenuItem class="account-menu-item" style="margin-right:0px" Text="@Name" Icon="account_circle">
                            <RadzenMenuItem Text="Mis Datos" Path="/MisDatos" />
                            <RadzenMenuItem Text="Configuración" Path="/Configuracion" />
                            <RadzenMenuItem Text="Cerrar sesión" Path="/Logout" />
                        </RadzenMenuItem>
                    </Authorized>
                    <NotAuthorized>
                        <RadzenMenuItem Path="/Login">
                            <Template>

                                <span class="rz-navigation-item-text">Iniciar Sesión</span>
                            </Template>
                        </RadzenMenuItem>
                        <RadzenMenuItem Path="/Register">
                            <Template>

                                <span class="rz-navigation-item-text">Registrarse</span>
                            </Template>
                        </RadzenMenuItem>
                    </NotAuthorized>
                </AuthorizeView>

            </RadzenMenu>
        </div>
    </RadzenHeader>

    <RadzenBody>
        <ChildContent>
            <RadzenContentContainer Name="main">
                <ErrorBoundary @ref="ErrorBoundary">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent>
                        @{
                            OnError(context);
                        }
                    </ErrorContent>
                </ErrorBoundary>
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>

    <RadzenFooter class="Footer">
        <div>
            <div>
                <a href="/ContactUs" alt="" title="">Contactar</a>
                <a href="/Documentation" alt="" title="">Documentaci&oacute;n</a>
            </div>
            <div>
                <a href="/QuestionsAndAnswers" alt="" title="">FAQ</a>
                <a href="/PoliciesAndPrivacy" alt="" title="">LEGAL</a>

            </div>
        </div>
    </RadzenFooter>

</RadzenLayout>

