@inject NavigationManager NavigationManager
<style>
    

</style>

<PageTitle>403</PageTitle>


<div class="d-flex align-content-center justify-content-center">
    <h4>Acceso Denegado.</h4>
    <a href="/">
    <RadzenButton Text="Volver" class="BotonPrincipal" />
    </a>
</div>


