@page "/Scheduler"
@using GabinetePsicologia.Shared

<h3>Citas</h3>
<RadzenScheduler @ref=@scheduler Data="@data" TItem="Cita"
                 StartProperty="FecInicio" EndProperty="FecFin" TextProperty="Nombre" SelectedIndex="2"
                 SlotRender=@OnSlotRender AppointmentRender=@OnAppointmentRender SlotSelect=@OnSlotSelect AppointmentSelect="OnAppointmentSelect">
    <RadzenDayView />Dia
    <RadzenWeekView />
    <RadzenMonthView />
    <RadzenYearView />
</RadzenScheduler>
