@inject DialogService DialogService
@using GabinetePsicologia.Shared
@if (cita.Id != Guid.Empty)
{
    <div style="display:flex;align-items:center;justify-content:right">
        <RadzenButton Click="Borrar" ButtonStyle="ButtonStyle.Danger" Text="Borrar" />
    </div>
}
<RadzenTemplateForm TItem="Cita" Data="@cita">

    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Psicologo" />
        </div>
        <div class="col">
            <RadzenLabel Text=@Psicologo.FullName />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Paciente" />
        </div>
        @if (!isEdit)
        {
            <div class="col">
                <RadzenDropDown Data=@lsPacientes TValue="Paciente" Name="Pacientes" AllowClear=true Placeholder="Selecciona un Paciente" Change="Change" TextProperty="FullName" ValueProperty="Id" />
                <RadzenRequiredValidator Text="*Paciente Requrido" Component="Pacientes" />
            </div>
        }
        else
        {
            <div class="col">
                <RadzenLabel Text=@selectedPaciente.FullName />
            </div>
        }
    </div>

    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Fecha Inicio" />
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@cita.FecInicio" Name="FecInicio" ShowTime="true" />
            <RadzenRequiredValidator Text="*Fecha Inicio Requrido" Component="FecInicio" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Fecha Fin" />
        </div>
        <div class="col">
            <RadzenDatePicker Name="FecFin" @bind-Value="@cita.FecFin" ShowTime="true" />
            <RadzenRequiredValidator Component="FecFin" Text="*Fecha Fin Requrido" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div style="display:flex;align-items:center;justify-content:center;gap:10%">
            <RadzenButton Click="DialogService.Close" ButtonStyle="ButtonStyle.Primary" Text="Cancelar" />
            <RadzenButton Click="Guardar" ButtonStyle="ButtonStyle.Primary" Text="Guardar" />
        </div>
    </div>
</RadzenTemplateForm>

@code {

}