@page "/Configuracion"
@using GabinetePsicologia.Shared
@using GabinetePsicologia.Client.Shared
<PageTitle>Configuración</PageTitle>
@if (isInRole)
{
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: .4s;
                border-radius: 50%;
            }

        input:checked + .slider {
            background-color: var(--rz-primary);
        }

            input:checked + .slider:before {
                transform: translateX(26px);
            }

    </style>
    <div class="d-flex flex-column align-items-center justify-content-center " style="padding-top:1em">

        <div class="field-container d-flex align-items-center flex-column">
            <div class="FlexColumn300 d-flex justify-content-center align-items-center ">
                <RadzenText TextStyle="TextStyle.Body2">Correo:&nbsp;&nbsp; </RadzenText>
                <RadzenText Style="color:var(--rz-primary);" TextStyle="TextStyle.Body1">@correo</RadzenText>
            </div>
            <RadzenText TextStyle="TextStyle.Body2" Style="margin-top:1em; text-align:center">(Es posible que se requiera refrescar la página para aplicar cambios)</RadzenText>
        </div>

        <div class="ConfiguracionDiv">
            <RadzenButton Icon="mail" class="BotonPrincipal" Text="Cambiar Correo" Click="CambiarCorreo" Style="margin:0.5em" />
            <RadzenButton Icon="password" class="BotonPrincipal ConfiguracionBoton" Style="margin:0.5em" Text="Cambiar Contraseña" Click="CambiarContrasenia" />
        </div>
        @*<div class="ConfiguracionDiv ConfiguracionDobleAutenticacion">
    <RadzenText Style="color:var(--rz-primary);margin-bottom:0 !important;" TextStyle="TextStyle.DisplayH6">Doble Autenticación:&nbsp;&nbsp; </RadzenText>
    <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
    </label>
    </div>*@
        <div class="ConfiguracionDiv">
            <RadzenButton Text="Habilitar 2FA" class="BotonPrincipal" Style="margin:0.5em" Click="Verficar2fa" />
            <RadzenButton Text="Resetear código 2FA" class="BotonPrincipal" Style="margin:0.5em" Click="Resetear2fa" />
        </div>
        <div class="ConfiguracionDiv">
            <RadzenButton Icon="logout" class="BotonPrincipal " Text="Cerrar Sesión" Style="margin:0.5em" Click="Logout" />
            <RadzenButton Icon="delete" class="BotonDelete ConfiguracionBoton" Text="Borrar Cuenta" Style="margin:0.5em" Click="BorrarCuenta" />
        </div>
    </div>
}
else
{
    <_403 />
}
