@inject DialogService DialogService
@using GabinetePsicologia.Shared

<div class="d-flex justify-content-evenly align-items-center">
    <RadzenButton Click="si" class="BotonDelete" Text="Si"></RadzenButton>
    <RadzenButton Click="no" class="BotonPrincipal" Text="No"></RadzenButton>
    
</div>