@inject DialogService DialogService
@using GabinetePsicologia.Shared
@using Radzen

<div>

    <div class="alert alert-warning" role="alert">
        <p>
            <strong>Esta acción solo deshabilita la doble Autenticación.</strong>
        </p>
        <p>
            Deshabilitar la doble Autenticación no cambia las claves utilizadas en las aplicaciones de autenticación.
        </p>
    </div>

    <div class="d-flex justify-content-evenly align-items-center">
        <RadzenButton Text="Cerrar" class="BotonDelete" Click="() => DialogService.Close(false)" />
        <RadzenButton Text="Deshabilitar" class="BotonPrincipal" Click="Deshabilitar" />
    </div>
</div>

