@page "/Informes"
@using GabinetePsicologia.Shared
@using GabinetePsicologia.Client.Shared
<PageTitle>Informes</PageTitle>
@if (isInRole)
{
    <div class="d-flex flex-column align-items-center justify-content-center ">

        <h3>Informes</h3>
        <div class="DivBotonTrastornos">
            <RadzenButton Text="Añadir Informe" ButtonStyle="ButtonStyle.Primary" Click=@(args => { _ = new InformeDto();AbrirModal(new InformeDto()); }) class="BotonPrincipal BotonTrastornos" />
            <RadzenButton Text="Borrar Informe" ButtonStyle="ButtonStyle.Primary" Click=BorrarInforme class="BotonDelete BotonTrastornos"  />
        </div>
        <br>
        @if (LsInformes != null && LsInformes.Count > 0)
        {
            <br>
            <br>

            <RadzenDataGrid @ref="grid" AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="8"
                    AllowSorting="true" Data="@LsInformes" TItem="InformeDto" ColumnWidth="200px" AllowRowSelectOnRowClick=allowRowSelectOnRowClick
                    SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@selectedInforme class="m-4" Style="color:white;width: 100%;">
                <Columns>
                    <RadzenDataGridColumn TItem="InformeDto" Width="60px" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                            <RadzenCheckBox TriState="false" TValue="bool" Value="@( selectedInforme != null && LsInformes.Count().Equals(selectedInforme.Count()))"
                                    Change="@(args => selectedInforme = args ? LsInformes.ToList() : null)" />
                        </HeaderTemplate>
                        <Template Context="data">
                            <RadzenCheckBox TriState="false" Value="@(selectedInforme != null && selectedInforme.Contains(data))"
                                    TValue="bool" Change=@(args => { if(!allowRowSelectOnRowClick) { grid.SelectRow(data); }}) />
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="InformeDto" Property="PacienteFullName" Title="Paciente" />
                    <RadzenDataGridColumn TItem="InformeDto" Property="PsicologoFullName" Title="Psicólogo" />
                    <RadzenDataGridColumn TItem="InformeDto" Property="TrastornoTipo" Title="Trastorno" />
                    <RadzenDataGridColumn TItem="InformeDto" Property="UltimaFecha" Title="Última Fecha de Modificación" />
                    <RadzenDataGridColumn TItem="InformeDto" Width="60px" Sortable="false" Filterable="false">
                        <Template Context="data">
                            <RadzenButton Icon="edit" Click=@(args => { AbrirModal(data); }) class="BotonPrincipal" />
                        </Template>
                    </RadzenDataGridColumn>


                </Columns>
            </RadzenDataGrid>
        }
        else
        {
            <p>No Hay Informes.</p>
        }
    </div>
}
else
{
    <_403 />
}
