<div class="d-flex justify-content-center align-items-center position-absolute h-100 w-100 top-0 start-0">
    <div class="ring"></div>
    <div class="ring"></div>
    <div class="ring"></div>
    <span class="loading">Cargando...</span>
</div>
