@page "/Login"
@layout LoginDisplay
<PageTitle>Inicar Sesión</PageTitle>
<div class="col-12 d-flex p-3 login">
    <RadzenCard class="d-flex m-5 mb-0 p-0 rz-border-radius-6 rz-shadow-10" Style="min-width:min-content; width:30% ;flex-flow: row wrap; overflow: hidden; align-items: stretch;">
        <RadzenCard class="rz-shadow-0 rz-border-radius-0 p-5" style="flex: 1 14rem;">
            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" class="mb-4">
                Iniciar Sesión
            </RadzenText>
            <RadzenTemplateForm Data=@("SimpleLogin")>
                <RadzenLogin RegisterMessageText="¿No tienes una Cuenta?" RegisterText="REGISTRATE" Register="OnRegister" AutoComplete="true" AllowRegister="true" AllowResetPassword="false" AllowRememberMe="true" UserText="Correo" RememberMeText="¿Recuerdame el Usuario?" Login=@(args => OnLoginAsync(args, "Simple login")) />
            </RadzenTemplateForm>
        </RadzenCard>
        <div class="col-12 d-flex flex-column p-3 login ">
            <RadzenTemplateForm Action="/Usuario/ExternalLogin/Google" Method="Post" TItem="string">
                <RadzenButton ButtonType="ButtonType.Submit" class="BotonPrincipal">
                    <img width="30px" style="margin-right: 0.5rem;" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    <h6 style="margin-bottom:0 !important;">Login with Google</h6>
                </RadzenButton>
            </RadzenTemplateForm>
            @*  <RadzenTemplateForm Action="/Usuario/ExternalLogin/Facebook" Method="Post" TItem="string">
            <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Light">
            <RadzenImage Path="/img/facebook.png" Style="height:50px;width:50px"></RadzenImage>
            </RadzenButton>
            </RadzenTemplateForm>*@
            <RadzenTemplateForm Action="/Usuario/ExternalLogin/Microsoft" Method="Post" TItem="string">
                <RadzenButton ButtonType="ButtonType.Submit" class="BotonPrincipal" style="margin-top: 1.5rem;margin-bottom: 1rem !important;">
                    <img width="30px" style="margin-right: 0.5rem;" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" />
                    <h6 style="margin-bottom:0 !important;">Login with Microsoft</h6>
                </RadzenButton>
            </RadzenTemplateForm>
        </div>
    </RadzenCard>

</div>

@code {

}
