@page "/Login"
@layout LoginDisplay

<div class="col-12 d-flex p-3 login" >
    <RadzenCard class="d-flex m-5 p-0 rz-border-radius-6 rz-shadow-10" Style="width: 25%; flex-flow: row wrap; overflow: hidden; align-items: stretch;">
        <RadzenCard class="rz-shadow-0 rz-border-radius-0 p-5" style="flex: 1 14rem;">
            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" class="mb-4">
                Iniciar Sesión
            </RadzenText>
            <RadzenTemplateForm Data=@("SimpleLogin") >
                <RadzenLogin  RegisterMessageText="¿No tienes una Cuenta?" RegisterText="REGISTRATE" Register="OnRegister" AutoComplete="true" AllowRegister="true" AllowResetPassword="false" AllowRememberMe="true" UserText="Correo" RememberMeText="¿Recuerdame el Usuario?" Login=@(args => OnLoginAsync(args, "Simple login")) />
            </RadzenTemplateForm>
        </RadzenCard>
    </RadzenCard>
</div>

@code {
    
}
