@inject DialogService DialogService
@using GabinetePsicologia.Shared

<div class="d-flex flex-column justify-content-center align-items-center">

             <RadzenDropDown TValue="KeyValue" class="AgendaFilter1" Data=@LsAllPeople FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                              Change="Select" TextProperty="Key" ValueProperty="Value" AllowClear =false Placeholder="Nuevo Chat" />
  
    <RadzenButton Click="no" class="BotonDelete" Text="Cerrar" Style="margin-top:2em"></RadzenButton>
    
</div>