@inject DialogService DialogService
@using GabinetePsicologia.Shared

<div class="d-flex flex-column justify-content-center align-items-center">
    <p style="text-align:center">Para Recuperar la Contraseña Póngase en Contacto con un Administrador en <a href='/Contacto'>Contacto</a>.</p>
    <RadzenButton Click="Cerrar" class="BotonPrincipal" Text="Ok"></RadzenButton>
    
</div>