@inject DialogService DialogService
@using GabinetePsicologia.Shared
@using Radzen

<div>
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Si restablece su clave de autenticación, su aplicación de autenticación no funcionará hasta que la reconfigure.</strong>
        </p>
        <p>
            Este proceso deshabilita 2FA hasta que verifique su aplicación de autenticación.

        </p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <RadzenButton Text="Resetear" class="BotonPrincipal" Click="Resetear" />
    </div>
</div>

