@page "/Terapias"
<PageTitle>Terapias</PageTitle>
<html>
<head>
    <title>Terapias</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            background-color: #f5f5f5;
            color: #333;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }

        h1 {
            color: #0077c2;
            margin-top: 30px;
            text-align: center;
        }

        .contenedor {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;
            padding: 20px;
        }

        .foto1 {
            
            background-image: url("/img/terapia-familiar1.jpg");
            background-size: cover;
            background-position: center;
            flex-basis: 50%;
            height: 300px;
        }


        .foto2 {
            
            background-image: url("/img/infantil.webp");
            background-size: cover;
            background-position: center;
            flex-basis: 50%;
            height: 300px;
        }

        .foto3 {
            background-image: url("/img/Terapiadepareja.jpg");
            background-size: cover;
            background-position: center;
            flex-basis: 50%;
            height: 300px;
        }

        .texto {
            flex-basis: 50%;
            padding: 20px;
        }

            .texto h2 {
                color: #0077c2;
                font-size: 24px;
                margin-bottom: 10px;
            }

            .texto p {
                color: #333;
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .texto button {
                background-color: #0077c2;
                border: none;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
                padding: 10px 20px;
                transition: background-color 0.3s;
            }

                .texto button:hover {
                    background-color: #005ea6;
                }

    </style>
</head>
<body>
    <h1>Terapias y Tratamientos</h1>

    <div class="contenedor">
        <div class="texto">
            <h2>Terapia familiar</h2>
            <p>Te ofrecemos analizar la capacidad de tu familia para resolver problemas y expresar tanto pensamientos como emociones de manera productiva.
               Exploramos los roles familiares, reglas y patrones de comportamiento para identificar problemas que contribuyen al conflicto, y la manera de resolverlos.</p>
            <button>Ver más</button>
        </div>
        <div class="foto1">
            <RadzenImage Path=""></RadzenImage>
        </div>
       
    </div>
     <div class="contenedor">
        <div class="foto2">
            <RadzenImage Path=""></RadzenImage>
        </div>
        <div class="texto">
            <h2>Terapia infantil</h2>
            <p>Nuestro objetivo es lograr que los niños sean capaces de desarrollar y construir una autoestima sana, mejorando sus habilidades sociales y la comunicación. 
               También trabajamos para mejorar la inteligencia emocional y relacional.</p>
            <button>Ver más</button>
        </div>
    </div>
    <div class="contenedor">
        <div class="texto">
            <h2>Terapia de pareja</h2>
            <p>Nuestro terapeuta se centra fundamentalmente en mejorar la comunicación en la relación. Encontrar el camino correcto al ser consciente de las virtudes y debilidades aprendiendo a manejarlas.
               Tolerar y respetar las diferencias de la pareja.</p>
            <button>Ver más</button>
        </div>
        <div class="foto3">
            <RadzenImage Path=""></RadzenImage>
        </div>
      
    </div>



</body>
</html>
@code {

}
