@page "/Terapias"
<html>
<head>
    <title>Terapias y Tratamientos</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            background-color: #f5f5f5;
            color: #333;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }

        h1 {
            color: #0077c2;
            margin-top: 30px;
            text-align: center;
        }

        .contenedor {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;
            padding: 20px;
        }

        .foto {
            
            background-image: url("../img/terapia-familiar1.jpg");
            background-size: cover;
            background-position: center;
            flex-basis: 50%;
            height: 300px;
        }

        .texto {
            flex-basis: 50%;
            padding: 20px;
        }

            .texto h2 {
                color: #0077c2;
                font-size: 24px;
                margin-bottom: 10px;
            }

            .texto p {
                color: #333;
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .texto button {
                background-color: #0077c2;
                border: none;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
                padding: 10px 20px;
                transition: background-color 0.3s;
            }

                .texto button:hover {
                    background-color: #005ea6;
                }

    </style>
</head>
<body>
    <h1>Terapias y Tratamientos</h1>

    <div class="contenedor">
        <div class="foto">
            <RadzenImage Path=""></RadzenImage>
        </div>
        <div class="texto">
            <h2>Título del texto</h2>
            <p>Descripción del texto</p>
            <button>Ver más</button>
        </div>
    </div>



</body>
</html>
@code {

}
